:root{
    --titles: #900C3F;
    --subtitles:#C70039;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --fontheaders:'Noto Sans JP', sans-serif;
    --bodyfont: 'PT Sans', sans-serif;
    --hentaiganafont:'Yuji Hentaigana Akari', cursive;

}

.center-text{
    text-align: center;
}
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    width: min(90%,120rem);
}
.contenedor a{
    text-decoration: none;
    font-weight: 700;
    color:var(--cyan);
}


/*Globales*/
html{
    font-size: 62.5%;
    box-sizing: border-box; /*Hack Box model*/
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px; /*1rem  = 10px*/
    background-image: linear-gradient(to up,#20c997 0% ,var(--cyan) 100%);/*gradient down to up*/
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h4{
    font-size: 1.5rem;
}

h1,h2,h3{
    text-align: center;
    font-family: var(--fontheaders);
    color: var(--blue);
}

h4{
    text-align: center;
    font-family: var(--fontheaders);
    color: var(--dark);
}

.titlemain span{
    font-family: var(--fontheaders);
    font-size: 2rem;
    color: var(--orange);
}

@media (min-width: 480px) {
    .boton{
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
}
@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}
/*Sizes*/
.w-sm-100{
    width: 100%;
}
@media (min-width: 780px) {
    .w-sm-100{
        width: auto;
    }
}
.w-sm-25{
    width: 5%;
}
@media (min-width: 780px) {
    .w-sm-25{
        width: auto;
    }
}
.flex{
    display: flex;
}

.al-right {
    justify-content: flex-start;
}

.shadow {
    -webkit-box-shadow: -18px 12px 49px 7px rgba(0,123,255,0.45);
    -moz-box-shadow: -18px 12px 49px 7px rgba(0,123,255,0.45);
    box-shadow: -18px 12px 49px 7px rgba(0,123,255,0.45);
    background-color: var(--white);
    border-radius: 1rem;
    padding-bottom: 2rem;
}

 .nav-bg{
    background-color: var(--blue);
 }

 .nav-main{
    display: flex;
    flex-direction: column;
 }
/*Media Querie
Size of screen Tablet*/
@media (min-width: 768px) {
    .nav-main{
        flex-direction: row;
        justify-content: space-between;
    }
}
 .nav-main a {
    display: block;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
 }
 .nav-main a:hover{
    background-color: var(--teal);
 }

.article1 {
    color:var(--info);
    text-align: center; 
    font-size: 20px;
}
.article1 a{
    color:white;
}

/* Esto es para lo de valente*/
html{
	font-family: Arial;
	display: inline-block;
	margin: 0px auto;
	text-align: center;
}

h2{
	font-size: 3.5rem;
	color:var(--green);
}

p{
	font-size: 3.0rem;
    color: var(--blue);
}

/*Esto es para los sensores y los leds ;v */

.units{
	font-size: 1.2rem;
}

.poten{
	font-size: 1.5rem;
	vertical-align:middle;
	padding-bottom: 15px;
}
.fotodi{
    font-size: 1.5rem;
	vertical-align:middle;
	padding-bottom: 15px;
}  

.slider{
	-webkit-appearance: none; 
	margin: 14px; 
	width: 360px; 
	height: 25px; 
	background: #076aff;
      	outline: none; 
	-webkit-transition: .2s; 
	transition: opacity .2s;
}
    
.slider::-webkit-slider-thumb{
	-webkit-appearance: none; 
	appearance: none; 
	width: 35px; 
	height: 35px; 
	background: white; 
	cursor: pointer;
}

.slider::-moz-range-thumb{ 
	width: 35px; 
	height: 35px; 
	background: #389bc9; 
	cursor: pointer;
} 

/* Botones led 3,4 y 5*/

.switch {position: relative; 
    display: inline-block; 
    width: 120px; 
    height: 68px} 
.switch input {display: none}
.slider1 {position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: #ccc; 
    border-radius: 6px}
.slider1:before {position: absolute; 
    content: ""; 
    height: 52px; 
    width: 52px; 
    left: 8px; 
    bottom: 8px; 
    background-color: #fff; 
    -webkit-transition: .4s; 
    transition: .4s; 
    border-radius: 3px}
.slider2 {position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: #ccc; 
    border-radius: 6px}
.slider2:before {position: absolute; 
    content: ""; 
    height: 52px; 
    width: 52px; 
    left: 8px; 
    bottom: 8px; 
    background-color: #fff; 
    -webkit-transition: .4s; 
    transition: .4s; 
    border-radius: 3px}
.slider3 {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: #ccc; 
    border-radius: 6px
}
.slider3:before {
    position: absolute; 
    content: ""; 
    height: 52px; 
    width: 52px; 
    left: 8px; 
    bottom: 8px; 
    background-color: #fff; 
    -webkit-transition: .4s; 
    transition: .4s; 
    border-radius: 3px
}
body{
    background-image: url(nanamiwin.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}




input:checked+.slider1 {background-color: #2521d8}
input:checked+.slider2 {background-color: #da1425}
input:checked+.slider3 {background-color: green}
input:checked+.slider1:before {-webkit-transform: translateX(52px); -ms-transform: translateX(52px); transform: translateX(52px)}
input:checked+.slider2:before {-webkit-transform: translateX(52px); -ms-transform: translateX(52px); transform: translateX(52px)}
input:checked+.slider3:before {-webkit-transform: translateX(52px); -ms-transform: translateX(52px); transform: translateX(52px)}

  