html{
	font-family: Arial;
	display: inline-block;
	margin: 0px auto;
	text-align: center;
}

h2{
	font-size: 3.5rem;
	color: 	#2c33af;
}

p{
	font-size: 3.0rem;
}

.units{
	font-size: 1.2rem;
}

.sensor{
	font-size: 1.5rem;
	vertical-align:middle;
	padding-bottom: 15px;
}
  
